.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: cadetblue;
  width: 450px;
  height:550px;
}

form label{
  display: inline-block;
  width: 100px;
}

form div{
  margin: 15px;
}

.profile{
  width: 150px;
  height:150px;
}